.contentPrincipal {
 display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(58, 77, 85, .2);
  padding: 24px;
  align-items: center;
}

.buscaProposta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}

.inputFind::-webkit-inner-spin-button,
.inputFind::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.divLabelBusca {
  display: flex;
}

.divInputButtonBuscar {
  min-width: 500px;
  margin: 14px 0;
  display: flex;
  justify-content: space-between;
}

/* .divInputButtonBuscar label {
  width: 120px;
} */

.inputFind {
  min-width: 120px;
  height: 36px;
  font-size: 18px;
  text-align: center;
  appearance: initial;
}

.buttonFind {
  width: 120px;
  height: 36px;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
}

.dadosProposta {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
}

.itemProposta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selectOrcamento {
  min-width: 380px;
  max-width: 420px;
  padding-left: 6px;
  align-items: center;
}

.itemProposta input {
  min-width: 380px;
  max-width: 420px;
  align-items: center;
}

.divButtonBack {
  width: 700px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 24px;
}

.buttonCancel {
  background-color: rgb(191, 13, 13);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  height: 36px;
  border: none;
}

.buttonSave {
  background-color: rgb(0, 128, 0);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  height: 36px;
  border: none;
}

/* form orcamento */
.divLabel {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  margin: 6px auto;
}

.divTextArea {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

/* ============================= BOTAO GERAR CREDENCIAL */

.divButtonCredencial {
  display: flex;
  padding: 6px;
}

.buttonCredencial {
  margin: auto;
  min-width: 120px;
  padding: 6px;
  height: 36px;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
}
