.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 580px;
  height: 420px;
  padding: 12px;
  background-color: #242424;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.buttonsMenu {
  width: 380px;
  border: none;
  font-size: 18px;
  height: 46px;
  border-radius: 8px;
}

.buttonsMenu:hover {
  background-color: rgba(211, 157, 2, 0.7);
}