.sidebar {
  min-width: 250px;
  height: 100vh;
  background: #1e1e1e;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: sticky;
  top: 0;
}


.sidebar h2 {
  text-align: center;
}

.sidebar button {
  padding: 12px;
  background: #777;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar button:hover {
  background: #999;
}