.secPrincipal {
  background-color: #242424;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
  height: 100%;
}

/* Form proposta */
.formDadosProposta,
.formDadosOrcamento {
  width: 700px;
  margin-bottom: 8px;
}

.divTitle {
  margin: 18px 0;
  text-align: center;
}

.divPrincipal {
  min-width: 500px;
  font-family: roboto, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: space-around;
}

/* BUSCAR PROPOSTA */

.divLabelBusca {
  min-width: 320px;
  display: flex;
}

.buscaProposta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid red;
}

.divInputButtonBuscar {
  width: 380px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.inputFind {
  width: 120px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  appearance: initial;
}

.inputFind::-webkit-inner-spin-button,
.inputFind::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buttonFind,
.buttonEdit {
  width: 120px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
}

.dadosProposta {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemProposta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selectOrcamento {
  min-width: 380px;
  max-width: 420px;
  padding-left: 6px;
  align-items: center;
}

.itemProposta input {
  min-width: 380px;
  max-width: 420px;
  padding-left: 6px;
  align-items: center;
}

.divButtonBack {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 24px;
}

.buttonBack { 
  width: 120px;
  height: 36px;
  border-radius: 6px;
}

/* form orcamento */
.divLabel {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
}

.divTextArea {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
