.secPrincipal {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(143, 143, 143, .6);
  padding: 16px;
  align-items: center;
  flex: 1;
}

.divOrc {
  border-radius: 6px;
  padding: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}
 
/* Form proposta */
.formDadosProposta,
.formDadosOrcamento {
  min-width: 600px;
  margin-bottom: 8px;
}

.divTitle {
  margin: 18px 0;
  text-align: center;
}

/* BUSCAR PROPOSTA */

.buscaProposta {
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.divLabelBusca {
  min-width: 320px;
  display: flex;
}

.divInputButtonBuscar {
  width: 380px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.inputFind {
  width: 120px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  appearance: initial;
}

.inputFind::-webkit-inner-spin-button,
.inputFind::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.buttonFind,
.buttonEdit {
  width: 120px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
}

.dadosProposta {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemProposta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selectOrcamento {
  min-width: 380px;
  max-width: 420px;
  padding-left: 6px;
  align-items: center;
}

.itemProposta input {
  min-width: 380px;
  max-width: 420px;
  padding-left: 6px;
  align-items: center;
}

.divButtonBack {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 24px;
}

.buttonCancel {
  background-color: rgb(191, 13, 13);
}

.buttonSave {
  background-color: rgb(0, 128, 0);
}

.buttonSave, .buttonCancel {
   border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  height: 36px;
  border: none;
}

/* form orcamento */
.divLabel {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
}

.divTextArea {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
