.divPrincipal {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(58, 77, 85, .2);
  padding: 24px;
  align-items: center;
  flex: 1;
}

.titleForm {
  margin-bottom: 18px;
  text-align: center;
}

.formCad {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  padding: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
}

.divLabel {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.inputText {
  min-width: 380px;
  max-width: 420px;
  padding-left: 6px;
  align-items: center;
}

.buttonSave {
  background-color: rgb(0, 128, 0);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  height: 36px;
  border: none;
}

.buttonCancel {
  background-color: rgb(191, 13, 13);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  height: 36px;
  border: none;
}

.divButtonSaveCancel {
  justify-content: flex-end;
  gap: 10px;
  display: flex;
  padding: 6px;
}
