.divPrincipal {
  background-color: #242424;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-radius: 12px;
  flex: 1;
}

.titleForm {
  padding: 12px;
}

.formCad {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.divLabel {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
}

.divTextArea {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.inputTextArea {
  margin-top: 8px;
  width: 100%;
  resize: none;
}

.select {
  width: 260px;
}

.inputText {
  width: 260px;
}

.buttonSave {
  background-color: rgb(0, 128, 0);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  height: 36px;
  border: none;
}

.buttonCancel {
  background-color: rgb(191, 13, 13);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  height: 36px;
  border: none;
}

.divButtonSaveCancel {
  justify-content: space-around;
  display: flex;
  width: 260px;
  padding: 6px;
}
