.divPrincipal {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
  height: 100%;
  align-items: center;
}

.titleForm {
  margin: 18px 0;
  text-align: center;
}

.formCad {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.divLabel {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
}

.divTextArea {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.inputTextArea {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.select, .inputText {
  width: 380px;
  padding-left: 6px;
  align-items: center;
}

.buttonSave {
  background-color: rgb(0, 128, 0);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  height: 36px;
  border: none;
}

.buttonCancel {
  background-color: rgb(191, 13, 13);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  width: 90px;
  height: 36px;
  border: none;
}

.divButtonSaveCancel {
  justify-content: flex-end;
  display: flex;
  padding: 6px;
  gap: 28px;
}
