.layout {
  display: flex;
  height: 100%; /* ocupa a tela inteira */
  width: 100%;
}
.content {
  min-width: 100%;
  flex: 1 1 auto; 
  height: 100vh;
  padding: 8px;
  overflow-y: auto; 
  background: #444;
}