.secPrincipal {
  background-color: #242424;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}

/* Form proposta */
.formDadosProposta {
  width: 700px;
  /* height: 540px; */
  padding: 24px;
}

.divTitle {
  margin-bottom: 18px;
  text-align: center;
}

.divPrincipal {
  min-width: 500px;
  font-family: roboto, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: space-around;
}

.buscaProposta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divInputButtonBuscar {
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.inputFind {
  width: 120px;
  height: 40px;
  font-size: 18px;
  text-align: center;
}

.buttonFind,
.buttonEdit {
  width: 120px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
}

.dadosProposta {
  width: 100%;
  max-height: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemProposta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemProposta input {
  min-width: 380px;
  max-width: 420px;
  padding-left: 6px;
  align-items: center;
}

.divButtonBack {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.buttonBack {
  width: 120px;
  height: 36px;
  border-radius: 6px;
}

/* form orcamento */

.divLabel {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
}