* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: maven pro, sans-serif;
}
body {
  display: flex;
  position: relative;
}

input {
  border: 1px solid rgba(155, 155, 155, 0.8);
  border-radius: 4px;
  padding: 2px 4px;
  background-color: rgba(58, 77, 85, 0.8);
}

button {
  cursor: pointer;
}

select {
  border-radius: 4px;
  border: 1px solid rgba(155, 155, 155, 0.8);
  padding: 2px 4px;
  background-color: rgba(58, 77, 85, 0.8);
}

textarea {
  border: 1px solid rgba(155, 155, 155, 0.8);
  padding: 6px;
  resize: none;
  background-color: rgba(58, 77, 85, 0.8);
}
