* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

input {
  border: 1px solid rgba(155, 155, 155, 0.8);
  border-radius: 4px;
}

#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

button {
  cursor: pointer;
}

select {
  border-radius: 4px;
  border: 1px solid rgba(155, 155, 155, 0.8);
}

textarea {
  border: 1px solid rgba(155, 155, 155, 0.8);
  padding: 6px;
  resize: none;
}
