* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

input {
  border: 1px solid rgba(155,155,155,0.8) ;
  border-radius: 4px;
}

#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

body {
  display: flex;
  align-items: center;
  padding: 28px;
}

select {
  border-radius: 4px;
  /* border-top-left-radius: 4px;
  border-top-right-radius: 4px; */
  border: 1px solid rgba(155,155,155,0.8) ;
}

textarea {
  border: 1px solid rgba(155,155,155,0.8) ;
  padding: 6px;
}

.menu {
  width: 500px;
}

.menuOptions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
